<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment Methods</label>
            <tab>sales</tab>
            <resource>Magento_Payment::payment</resource>
            <group id="tlync_payment" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>TLYNC Payment Settings</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable TLYNC Payment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable TLYNC Payment gateway</comment>
                </field>
                <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Gateway Title</label>
                    <comment>Title of the payment method displayed to customers</comment>
                </field>
                <field id="order_status" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status After Payment</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment>Select the default order status after payment is made</comment>
                </field>
            </group>
        </section>
    </system>
</config>
