<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <payment>
            <tlync_payment>
                <active>1</active>
                <model>Tlync\Payment\Model\Payment</model>
                <order_status>pending</order_status>
                <title>T-LYNC PAYMENT</title>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <allowspecific>0</allowspecific>
            </tlync_payment>
        </payment>
    </default>
</config>
